<% var statistics, services, thoughts, link, comments, certificates, portfolios,
portfolios_items %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- ====== Owl carousel ========== -->
    <link rel="stylesheet" href="/OWL/owl.carousel.min.css" />
    <link rel="stylesheet" href="/OWL/owl.theme.default.min.css" />

    <!-- ======font awesome ======= -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <!-- ======= Styles ======== -->
    <link rel="stylesheet" href="/styles/style.css" />

    <!-- ====== Index style ======= -->
    <link rel="stylesheet" href="/styles/index.css" />

    <link rel="stylesheet" href="/styles/responsve.css" />
  </head>
  <body id="body">

    <!-- <div class="toast" id="toast"><div class="toast-body">Messages send ...</div></div>-->

    <!-- scroll start-->
    <a href="#logotip" class="idScroll idScroll2">
      <i class="fa-solid fa-chevron-up"></i>
      <span class="idScroll-item" style="--i: 1"></span>
      <span class="idScroll-item" style="--i: 2"></span>
      <span class="idScroll-item" style="--i: 3"></span>
    </a>
    <!-- scroll finish -->

    <!-- ===== Header start ======= -->
    <header class="header daynight">
      <!-- =====Navbar start ======= -->
      <nav class="navbar">
        <div class="navbar-left">
          <div class="navbar-left__item">
            <li>
              <a class="navbar-logo" id="logotip" href="#"
                ><img
                  src="/images/png/IMD logo_Монтажная область 1 1.png"
                  class="logo__item"
                  alt="logo"
              /></a>
            </li>

            <i class="fa-solid fa-bars"></i>
          </div>

          <li>
            <a class="navbar-phone day__night" href="tel:+998 97 628 28 82">
              <img src="/images/png/Vector.png" alt="phone" />
              <span class="day__night">+998 97 628 28 82</span>
            </a>
          </li>
        </div>

        <div class="blur blurbacg menusMenuClass">
          <ul class="navbar-right bacgClass">
            <i class="fa-solid fa-x day__night"></i>
            <li>
              <a
                href="#services"
                class="day__night hoverClass"
                onclick="menus()"
                >Xizmatlar</a
              >
            </li>
            <li>
              <a href="#about" class="day__night hoverClass" onclick="menus()"
                >Biz haqimizda</a
              >
            </li>
            <li>
              <a
                href="#consultation"
                class="day__night hoverClass"
                onclick="menus()"
                >Bog’lanish</a
              >
            </li>

            <div class="navbar-menu__phone">
              <a class="navbar-phone2 day__night" href="tel:+998 97 628 28 82">
                <img src="/images/png/Vector.png" alt="phone" />
                <span class="day__night">+998 97 628 28 82</span>
              </a>
            </div>
          </ul>
        </div>
      </nav>
      <!-- ===== Navbar finish ======= -->

      <div class="header-item">
        <div class="header-item__left">
          <h1 class="day__night">
            Biznesingizni professional hamkorlar bilan
            <span>Avtomatlashtiring</span>
          </h1>
          <div class="header-item__left-cards">
            <div class="header-card">
              <i class="fa-solid fa-check"></i>
              <p class="day__night">
                <span>Sotuv</span> bo'limini avtomatlashtirsh,
              </p>
            </div>
            <div class="header-card">
              <i class="fa-solid fa-check"></i>
              <p class="day__night"><span>Biznesni</span> avtomatlashtirish</p>
            </div>
            <div class="header-card">
              <i class="fa-solid fa-check"></i>
              <p class="day__night">
                <span>Omborxona</span> hisob kitobini avtomatlashtirish
              </p>
            </div>
            <div class="header-card">
              <i class="fa-solid fa-check"></i>
              <p class="day__night">
                <span>Sotuv bo'limidagi xodimlar</span> nazoratini kuchaytirish
              </p>
            </div>
          </div>
          <a href="#consultation" class="btns">Aloqaga chiqish</a>
        </div>

        <div class="header-item__right day__night-cards2">
          <i class="fa-regular fa-sun"></i>
          <i class="fa-regular fa-moon"></i>
          <img
            class="header-item__right-img"
            src="/images/jpg/5241364 2.png"
            alt=""
          />
          <div class="header-item__right-chart day-night__chart">
            <img src="/images/png/Group 2053.png" alt="" />
          </div>
        </div>
      </div>
    </header>
    <!-- ===== Header finish ======= -->

    <!-- ======= Counter start ========= -->
    <section class="counter">
      <% if(statistics) { %> <% for(let stat of statistics) { %>
      <div class="counter-item day__night-cards2">
        <h1 class="day__night"><span><%= stat.count %></span>+</h1>
        <p><%= stat.name %></p>
      </div>
      <% } %> <% } %>
    </section>
    <!-- ===== Counter finish ===== -->

    <!-- ====== Services start ====== -->
    <section class="services" id="services">
      <h1 class="text day__night">Bizning <span>xizmatlar</span></h1>
      <div class="services-container">
        <% if(services) { %> <% for(let service of services) { %>
        <div class="services-cards day__night-cards3">
          <div class="services-cards__top">
            <div class="services-card__img day__night-card4">
              <img src="/uploads/<%= service.image %>" alt="" />
            </div>
            <h2 class="day__night"><%= service.name %></h2>
          </div>

          <p class="day__night"><%= service.text %></p>

          <a
            class="services-btn day__night day__night-card4"
            href="<%= service.link %> "
          >
            Batafsil
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </div>
        <% } %> <% } %>
      </div>
    </section>
    <!-- ====== Services finish ===== -->

    <!-- ===== About start ========= -->
    <section class="about" id="about">
      <div class="about-left">
        <h2>Biz haqimizda</h2>
        <p>
          Yetakchi biznisni avtomatlashtirish uchun mo'ljallangan dasturlarning
          o'zbekistondagi amoCRM, bitrix24, OnlinePBX kabi dasturiy taminot
          kompaniyalarining professional hamkorlari hisoblanib kun sayin
          yangidan yangi muammolarga yechim berayotgan IT kompaniya
        </p>
        <a href="#consultation" class="about-btn"
          >Aloqaga chiqish <i class="fa-solid fa-arrow-right"></i
        ></a>
      </div>

      <div class="about-right">
        <img src="images/jpg/test.png" alt="" />
        <img src="images/jpg/test2.png" alt="" />
        <div class="about-charts">
          <img src="/images/png/Group 2046.png" alt="" />
        </div>
      </div>
    </section>
    <!-- ==== About finish ===== -->

    <!-- ===== Our start ======== -->
    <section class="our">
      <div class="our-text">
        <h1 class="day__night">Bizning <span>Portfoliomiz</span></h1>

        <p class="day__night">
          Lorem Ipsum is simply dummy text of the <br />
          printing and typesetting industry.
        </p>
      </div>

      <div class="our-item">
        <div class="our-item__left">
          <ul class="our-item__left-menu day__night-cards3">
            <% if (portfolios) { %> <% for(let i = 0; i < portfolios.length; i++) { %>
            <li class="border__classs">
              <a onclick="activ(this)" class="day__night activ3 <%= i == 0 ? "actives": "" %>">
              <%= portfolios[i].name %>
              </a>
            </li>
            <% } %> <% } %>

            
          </ul>
        </div>

        <% for(let i = 0; i < portfolios_items.length; i++) { %>
          <!-- <%= i %> -->
          <div class="our-item__right our-item__right-black<%= i + 1 %> <%= i == 0 ? "active": "" %>">
            <% for(let l = 0; l < portfolios_items[i].length; l ++) { %>
              <div class="our-item__right-card day__night-cards3">
                <img src="/uploads/<%= portfolios_items[i][l].image %>" alt="" />
              <p class="day__night"><%= portfolios_items[i][l].name %></p>
            </div>
            <% } %>  
        </div>
        <% } %>
      </div>
    </section>
    <!--====== Our finish ======= -->

    <!-- ======== Why start ====== -->
    <section class="why day__night-cards1">
      <div class="wht-container">
        <div class="wht-container__left day__night-cards2">
          <img src="images/jpg/5141106 1.png" alt="" />
        </div>

        <div class="wht-container__right">
          <h2 class="day__night">Nega aynan biz?</h2>

          <div class="wht-container__right-cards">
            <div class="wht-container__right-card day__night-cards2">
              <div class="wht-container__right-icon day__night-card5">
                <img class="imgsrc1" src="/images/png/Vector (1).png" alt="" />
              </div>
              <p class="day__night">
                Lorem Ipsum is <span class="text3">simply</span> dummy text
              </p>
            </div>

            <div class="wht-container__right-card day__night-cards2">
              <div class="wht-container__right-icon day__night-card5">
                <img class="imgsrc2" src="/images/png/Vector (2).png" alt="" />
              </div>
              <p class="day__night">
                Lorem <span class="text3">Ipsum</span> is simply dummy text
              </p>
            </div>

            <div class="wht-container__right-card day__night-cards2">
              <div class="wht-container__right-icon day__night-card5">
                <img class="imgsrc3" src="/images/png/Vector (3).png" alt="" />
              </div>
              <p class="day__night">
                Lorem Ipsum is simply <span class="text3">dummy</span> text
              </p>
            </div>

            <div class="wht-container__right-card day__night-cards2">
              <div class="wht-container__right-icon day__night-card5">
                <img class="imgsrc4" src="/images/png/Vector (4).png" alt="" />
              </div>
              <p class="day__night">
                <span class="text3">Lorem</span> Ipsum is simply dummy text
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="wht-footer">
        <p class="day__night">
          Har bir loyihaga
          <span class="text3">professional yonadashilinadi</span>, taxlil va
          analizlar asosida <span class="text3">muammolarga yichim</span>
          <span class="text3">berilinadi</span>, xodimlar adaptatsiya qilinadi
          loyiha topshirilgan
          <span class="text3">1 yil qo'vvat quvvatlanilladi</span>
        </p>

        <a href="#consultation" class="btns">Aloqaga chiqish</a>
      </div>
    </section>
    <!-- ======== Why finish ===== -->

    <!-- ===== Customers start======== -->
    <section class="customers">
      <h1 class="day__night">
        Bizning mijozlarimizni biz haqimizda
        <span class="span text3">Fikrlari</span>
      </h1>

      <div class="customers-item">
        <ul class="customers-item__left day__night-cards3">
          <% if(thoughts) { %> <% for(let thought of thoughts) { %>
          <li class="border__classs">
            <a class="day__night"><%= thought.text %> </a>
          </li>
          <% } %> <% } %>
        </ul>

        <div class="customers-item__right">
          <div class="customers-cards">
            <iframe
              src="<%= link?.link %> "
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- ===== Customers finish======= -->

    <!-- =====Owl-container start ===== -->
    <section class="owl-container">
      <div class="owl-carousel">
        <% if(comments) { %> <% for(let comment of comments) { %>
        <div class="item">
          <div class="owl-carousel__top day__night-cards2">
            <img src="/uploads/<%= comment.image %>" alt="" />
            <h3 class="day__night"><%= comment.name %></h3>
          </div>

          <div class="owl-carousel__bottom day__night-cards2">
            <p class="day__night">
              <%= comment.comment %>
            </p>
            <div class="owl-carousel__bottom-card">
              <span><%= comment.direction %></span>
              <span><%= comment.date %></span>
            </div>
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </section>
    <!-- =====Owl-container finish===== -->

    <!-- ======Certificates start ====== -->
    <section class="certificates day__night-cards1">
      <h1 class="day__night">Bizning sertifikatlarimiz</h1>

      <p class="day__night">
        Rasmiy hamkorlarimiz tomonidan bizga berilgan sertifikatlar
      </p>

      <div class="certificates-item">
        <div class="owl-carousel day__night-cards2">
          <% if(certificates) { %> <% for(let certificate of certificates) { %>
          <div class="item">
            <div class="certificates-logo bacgClassLogo">
              <img src="/uploads/<%= certificate.direction_image %>" alt="" />
            </div>
            <img src="/uploads/<%= certificate.certificate_image %>" alt="" />
          </div>
          <% } %> <% } %>
        </div>
      </div>

      <div class="certificates-bottom">
        <p class="day__night">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry
        </p>

        <a href="#consultation" class="btns">Aloqaga chiqish</a>
      </div>
    </section>
    <!-- ======Certificates finish ====== -->

    <!-- ======Consultation start======== -->
    <section class="consultation" id="consultation">
      <div class="consultation-item">
        <img
          class="consultation__border"
          src="/images/png/Vectorss.png"
          alt=""
        />

        <div class="consultation-item__left">
          <h3>Bepul konsultatsiya</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </p>
        </div>

        <div class="consultation-item__right">
          <form action="/" method="post">
            <label for="">Telefon raqamingiz</label>
            <input name="phone" type="text" value="+998" />

            <label for="">Ismingiz</label>
            <input name="name" type="text" placeholder="Ismingizni kiriting" />

            <button type="submit">Yuborish</button>
          </form>
        </div>
      </div>
    </section>
    <!-- ======Consultation finish======== -->

    <!-- ====== Footer start =========== -->
    <footer class="footer day__night-cards1">
      <li class="logo">
        <a href="#" class="logo">
          <img
            class="footer__logos"
            src="images/png/IMD logo_Монтажная область 1 1.png"
            alt=""
          />
        </a>
      </li>

      <span class="color3"
        >Lorem ipsum.uz 2022 barcha huquqlar ximoyalangan</span
      >

      <div class="footer-right">
        <p class="day__night">Biz ijtimoiy tarmoqlarda</p>

        <div class="footer-right__card">
          <li>
            <a class="day__night-cards2" href="">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li>
            <a class="day__night-cards2" href="">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
          </li>
          <li>
            <a class="day__night-cards2" href="">
              <i class="fa-brands fa-telegram"></i>
            </a>
          </li>
          <li>
            <a class="day__night-cards2" href="">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>
        </div>
      </div>
    </footer>
    <!-- ====== Footer finish ========== -->

    <!-- =======Owl js =========== -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/js/owl.carousel.min.js"></script>

    <!-- ===== js ============ -->
    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        $(".owl-container .owl-carousel").owlCarousel({
          margin: 20,
          nav: true,
          navText: [
            "<i class='fa-solid fa-angle-left'></i>",
            "<i class='fa-solid fa-angle-right'></i>",
          ],
          autoplay: true,
          loop: true,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            885: {
              items: 2,
            },
          },
        });
      });

      $(document).ready(function () {
        $(".certificates .owl-carousel").owlCarousel({
          nav: true,
          navText: [
            "<i class='fa-solid fa-angle-left'></i>",
            "<i class='fa-solid fa-angle-right'></i>",
          ],
          margin: 20,
          autoplay: true,
          loop: true,
          items: 1,
        });
      });
    </script>
  </body>
</html>
